body {
  margin: 0;
  padding: 0;
}
main {
  margin: 100px 150px;
}
.divbanner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  background-color: #b93160;
  justify-items: center;
  align-items: center;
  padding: 0 50px;
  padding-top: 20px;
  border-radius: 20px;
}
.bannerDes {
  color: white;
  padding: 50px;
}
.bannerDes h1 {
  font-size: 60px;
  margin: 0;
  color: white;
}
.bannerDes p {
  font-size: 20px;
  opacity: 0.8;
}
.bannerDes button,
.bt {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  border: 0;
  background-color: #4c3a51;
  color: white;
}
.bannerDes button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 20px white;
}
.bannerImage {
  width: 100%;
  height: 100%;
}
.bannerImage img {
  width: 100%;
  height: 100%;
}
.cardcontainer {
  margin-top: 100px;
}
.cardcontent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
}
.menuCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #b93160;
  padding: 30px;
  justify-content: center;
  border-radius: 10px;
  max-height: 250px;
}
.menuCard a {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  border: 1px solid rgb(212, 201, 201);
  border-radius: 10px;
}
.cardImage img {
  width: 100%;
}
.cardDes {
  padding: 15px;
}

.btn {
  padding: 5px 20px;
  border-radius: 5px;
  background-color: white;
}
.space {
  margin-left: 30px;
}
footer {
  background-color: #b93160;
  color: white;
}
.footerHead {
  text-align: center;
  padding: 100px 150px;
  padding-bottom: 50px;
}
.footerHead h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
.footerHead hr {
  color: gray;
  opacity: 0.6;
}
.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 0px 30px 100px 30px;
}
.footerContent p {
  font-size: 15px;
  opacity: 0.75;
}
.ucard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(196, 185, 185);
  border-radius: 10px;
  padding: 50px 30px;
}
.flag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.flag p {
  font-size: 25px;
  font-weight: 600;
}
.matchDes {
  text-align: center;
}
.matchDes h1 {
  font-size: 20px;
}
.flagImg {
  width: 100%;
}
.flagImg img {
  width: 100%;
}
.groupCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
}
.gcard {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 25px;
  align-items: center;
  padding: 20px;
  border: 1px solid rgb(186, 175, 175);
  border-radius: 10px;
}
.gname h2 {
  font-size: 25px;
  text-align: center;
}
.gcontent {
  width: 100%;
}
.gcontent img {
  width: 100%;
}
.gdetails h2 {
  text-align: center;
}
.viewButton {
  display: none;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  main {
    margin: 30px;
  }
  .divbanner {
    padding: 0 30px;
    padding-top: 20px;
  }
  .bannerDes {
    padding-left: 0;
  }
  .bannerDes h1 {
    font-size: 40px;
  }
  .cardcontainer {
    margin-top: 50px;
  }
  .cardcontent {
    display: block;
  }
  .menuCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    background-color: white;
    padding: 0;
  }
  .menuCard a {
    border: 1px solid rgb(212, 204, 204);
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .nocard-for-tab {
    display: none;
  }
  .viewButton {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  .footerContent p {
    font-size: 20px;
  }
}
